<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/commonLayout">
<head>
    <title>입고처리</title>

    <link href="/fancyapps-fancyBox-2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/fancyapps-fancyBox-2.1.5/jquery.fancybox.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid.min.css"
          th:href="@{/webjars//js-grid/1.2.0/dist/jsgrid.min.css}"
          rel="stylesheet" media="screen" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid-theme.min.css"
          th:href="@{/webjars/js-grid/1.2.0/dist/jsgrid-theme.min.css}"
          rel="stylesheet" media="screen" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid.min.js"
            th:src="@{/webjars/js-grid/1.2.0/dist/jsgrid.min.js}"></script>

    <link href="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.standalone.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.ko.min.js"></script>

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var selectedItems = [];

    $(document).ready(function () {
        init();
    });

    function init() {
//            http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox
        makeDatepicker2('#dtFrom, #dtTo');

        $("#txtTac").keydown(function (key) {
            if (key.keyCode == 13) {
                fnSearch();
            }
        });

//            검색
        $('#btnSearch').click(function () {
            fnSearch();
        });

//        검색(입고완료 내역)
        $('#btnSearch2').click(function () {
            fnSearch2();
        });

        //          입고증출력(엑셀)
        $('#btnExcel').click(function () {
            var vTac = $('#txtTac').val();
            var vBnCd = $('#cmbBnCd').val();
            var vFrom = $('#dtFrom').val();
            var vTo = $('#dtTo').val();
//        var vKeyword = $('#txtKeyword').val();
            var vBnCd = $('#cmbBnCd').val();
            /*var vCondition = $('#cmbCondition').val();
             var vStatus = $('#cmbStatus').val();*/

            window.location.href = '/accept/stock/excel?bncd='+ vBnCd +'&from='+ vFrom +'&to='+ vTo +'&tac='+ vTac;
        });

//            주
        $('#btnWeek').click(function () {
            $('#dtFrom').val([[${week_from}]]);
            $('#dtTo').val([[${dt_today}]]);
        });

//            월
        $('#btnMonth').click(function () {
            $('#dtFrom').val([[${month_from}]]);
            $('#dtTo').val([[${dt_today}]]);
        });
    }

    $(function () {
        $('#jsGrid').jsGrid({
//                sorting: true,
            width: '100%',

//                height: '90%',
            height: 'auto',

//            paging: true,
            paging: false,
            pageSize: [[${@environment.getProperty('js-grid.pageSize')}]],
//                pagerFormat: 'Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}',
            pagerFormat: '{prev} {pages} {next}',
            pagePrevText: 'Prev',
            pageNextText: 'Next',

            rowClick: function (args) {
                showDetailsDialog('Edit', args.item);
            },

//                data: db.clients,
            autoload: true,
            controller: db,

            fields: [
//                http://js-grid.com/demos/batch-delete.html
                {
                    headerTemplate: function () {
                        return $("<input id='checkAll'>").attr("type", "checkbox")/*.text("Delete")*/
                                .on("click", function () {
//                                        deleteSelectedItems();
                                    var $cb = $(this);
//                                        console.log($cb.attr("id") +' @ '+ $cb.is(":checked"));
                                    $("input[type=checkbox]").prop("checked", $cb.is(":checked"));
                                    $("input[type=checkbox]").trigger('change');
//                                        $("#jsGrid").jsGrid("option", $cb.attr("id"), $cb.is(":checked"));
                                });
                    },
                    itemTemplate: function (_, item) {
                        return $("<input>").attr("type", "checkbox")
                                .on("change", function (e) {
                                    $(this).is(":checked") ? selectItem(item) : unselectItem(item);
//                                        console.log('checkbox change!!!');
//                                        e.preventDefault();
                                    event.stopPropagation();
                                })
                                .on("click", function (e) {
                                    console.log('checkbox click!!!');
//                                        e.preventDefault();
                                    event.stopPropagation();
                                });
                    },
                    align: "center",
                    width: 30
                },

//                {name: "chkitem", title: "선택", type: "checkbox", sorting: false},
                {name: 'IT_REGI_DT', title: '검수완료일시', type: 'text', align: 'center'},
                {name: 'IT_TAC', title: '택번호', type: 'text', align: 'center'},
                {name: 'MB_NIC_NM', title: '닉네임', type: 'text', align: 'center'},
                {name: 'PD_NM', title: '상품명', type: 'text', align: 'center'},

//                {name: 'OR_PRICE', title: '가격', type: 'text', align: 'center'},
                { name: "TOT_PRICE", title: '가격', type: "number", align: 'center', //width: 40,
                    itemTemplate: function(value) {
                        return formatNumber(value); }
                },

                {name: 'OR_CD2', title: '주문번호', type: 'text', align: 'center'},
                {name: 'BN_NM', title: '지점', type: 'text', align: 'center'},
                {name: 'EP_CD', title: '수거크린매니저', type: 'text', align: 'center'},
                {name: 'USER', title: '접수크린매니저', type: 'text', align: 'center'},
                {name: 'IT_STATUS', title: '주문상태', type: 'text', align: 'center'},
                {name: 'IT_MEMO', title: '품목비고', type: 'text', align: 'center'},
            ]
        });

        var showDetailsDialog = function (dialogType, client) {
            window.location.href = '/accept/order/view1/'+ client.OR_CD;
        };

        var selectItem = function(item) {
//                push 전에 중복여부 확인 필요
            if($.inArray( item, selectedItems ) != -1) {
//                    console.log('중복됨 : '+ $.inArray( item, selectedItems ));
            } else {
//                    console.log('추가됨');
                selectedItems.push(item);
            }

        };

        var unselectItem = function(item) {
            selectedItems = $.grep(selectedItems, function(i) {
                return i !== item;
            });
        };

        var deleteSelectedItems = function() {
            if(!selectedItems.length || !confirm("Are you sure?"))
                return;

            var $grid = $("#jsGrid");

            $.each(selectedItems, function(_, item) {
                $grid.jsGrid("deleteItem", item);
            });

            selectedItems = [];
        };

        //            입고완료
        $('#btnChangeSt1').click(function () {
            fnChangeSt('입고완료', '0105');
        });

        //            입고취소
        $('#btnChangeSt2').click(function () {
            fnChangeSt('입고취소', '0104');
        });

        var fnChangeSt = function(vTitle, vState) {
            if(!selectedItems.length) {
                alert(vTitle +' 처리할 데이터를 선택해 주세요!')
                return;
            }

            if(!confirm(selectedItems.length +'건의 데이터를 '+ vTitle +' 처리 하시겠습니까?')) {
                return;
            }

            ids = [];

            $.each(selectedItems, function(_, item) {
                console.log(''+ item.ID);
                ids.push(item.ID);
            });

            $.ajax({
                type : "POST",
                cache : false,
                url : '/stock/changeSt',
                data : { items: ids, state: vState },
                traditional: true,
                success : function(data, status) {
                    alert(vTitle +' 처리 하였습니다!');
                    fnSearch();
                },
                error : function(data, status) {
                    alert(vTitle +' 처리중 에러가 발생하였습니다.');
//                        console.log('실패 '+ data);
                }
            });

        };

    });

    var isTot = false;

    (function () {
        var db = {

            loadData: function (filter) {
                var d = $.Deferred();

                filter.bncd = $('#cmbBnCd').val();

                $.ajax({
                    url: '/stock/list',
                    dataType: 'json',
                    data: filter
                }).done(function (response) {
                    var vCnt = 0;
                    var vTot = 0;

                    if (isTot) {
                        if (response && response.length > 0) {
                            vCnt = response.length;

                            $.each(response, function (idx, obj) {
                                vTot += obj['TOT_PRICE'];
                            });
                        }

                        $('#spanItemsCnt').text('총 ' + formatNumber(vCnt) + '개');
                        $('#spanItemsTot').text(formatNumber(vTot) + '원');
                    }

                    d.resolve(response);
//                    d.resolve(response.content);
                });

                return d.promise();
            }

        };

        window.db = db;
    }());

    function fnSearch() {
/*        $('#spanItemsCnt').text(null);
        $('#spanItemsTot').text(null);*/
        isTot = false;
        $('#divTotal').fadeOut();
//        $('#divTotal').hide();

        var vTac = $('#txtTac').val();
        var vBnCd = $('#cmbBnCd').val();
        var vFrom = $('#dtFrom').val();
        var vTo = $('#dtTo').val();
//        var vKeyword = $('#txtKeyword').val();
        var vBnCd = $('#cmbBnCd').val();
        /*var vCondition = $('#cmbCondition').val();
        var vStatus = $('#cmbStatus').val();*/

        $('#jsGrid').jsGrid('search', { tac: vTac, bncd: vBnCd, from: vFrom, to: vTo });

        selectedItems = [];
        $('#checkAll').prop("checked", false);
    }

//    입고완료 내역 검색
    function fnSearch2() {
        isTot = true;
        $('#jsGrid').jsGrid('search', { status: '0105' });
        $('#divTotal').fadeIn();
    }

    /*]]>*/
    </script>
</head>
<body>

<div class="center" layout:fragment="content">
    <div class="search_area">
        <h2 class="page_title">
            공장입고처리
<!--            <a class="yell_btn" id="btnExcel">엑셀</a>
            -->

            <a class="yell_btn" id="btnExcel" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_BRANCH')">공장 입고증 출력</a>
            <a class="yell_btn" id="btnSearch2" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_BRANCH')">공장 입고완료 내역</a>
            <a class="yell_btn" id="btnChangeSt2" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_BRANCH')">공장 입고취소</a>
            <a class="yell_btn" id="btnChangeSt1" sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_BRANCH')">공장 입고완료</a>
            <a class="yell_btn" id="btnSearch">조회</a>
        </h2>
        <div class="search_input">
            <label class="front">택번호</label>
            <input type="text" class="default" id="txtTac" />

            <label>지점</label>
            <select class="front" id="cmbBnCd">
                <option value="" th:if="${#arrays.length(branch_cds)} &gt; 1">전체</option>
                <option th:each="cd : ${branch_cds}"
                        th:value="${cd[0]}"
                        th:text="${cd[1]}">text</option>
            </select>

            <label>주문기간</label>
            <input type="text" class="term" id="dtFrom" /> - <input type="text" class="term" id="dtTo" />
            <a class="week_b" id="btnWeek">주</a>
            <a class="month_b" id="btnMonth">월</a>

            <!--<select>
                <option value="">통합검색</option>
            </select>
            <input type="text" class="default shot" id="txtKeyword" />-->

            <!--<label>주문상태</label>
            <select class="front" id="cmbStatus">
                <option value="">전체</option>
                <option th:each="cd : ${cmb_status}"
                        th:value="${cd.cdGp} +''+ ${cd.cdIt}"
                        th:text="${cd.cdNm}">text</option>
                th:selected="${cd.cdIt == '01'}"
            </select>-->
        </div>
    </div>

    <div class="total" id="divTotal" style="display:none">
        <span id="spanItemsCnt">총 개</span>
        <span class="total_pay" id="spanItemsTot">원</span>
    </div>
    <div id="jsGrid" class="table_area"></div>
</div>

</body>
</html>