<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/commonLayout">
<head>
    <title>주문전체 현황</title>

    <link href="/fancyapps-fancyBox-2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/fancyapps-fancyBox-2.1.5/jquery.fancybox.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid.min.css"
          th:href="@{/webjars//js-grid/1.2.0/dist/jsgrid.min.css}"
          rel="stylesheet" media="screen" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid-theme.min.css"
          th:href="@{/webjars/js-grid/1.2.0/dist/jsgrid-theme.min.css}"
          rel="stylesheet" media="screen" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid.min.js"
            th:src="@{/webjars/js-grid/1.2.0/dist/jsgrid.min.js}"></script>

    <link href="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.standalone.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.ko.min.js"></script>

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        var selectedItems = [];
//        var vPageSize = [[${@environment.getProperty('js-grid.pageSize')}]];

        $(document).ready(function(){
            init();
        });

        function init() {
//            http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&maxViewMode=2&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox
            makeDatepicker2('#dtFrom, #dtTo');

//          엑셀
            $('#btnExcel').click(function () {
                var vBnCd = $('#cmbBnCd').val();
                var vFrom = $('#dtFrom').val();
                var vTo = $('#dtTo').val();
                var vKeyword = $('#txtKeyword').val();
//                var vBnCd = $('#cmbBnCd').val();
                var vCondition = $('#cmbCondition').val();
                var vStatus = $('#cmbStatus').val();

                window.location.href = '/order/total/excel?bncd='+ vBnCd +'&from='+ vFrom +'&to='+ vTo +'&keyword='+ vKeyword +'&condition='+ vCondition +'&status='+ vStatus;
            });

//            주
            $('#btnWeek').click(function () {
                $('#dtFrom').val([[${week_from}]]);
                $('#dtTo').val([[${dt_today}]]);
            });

//            월
            $('#btnMonth').click(function () {
                $('#dtFrom').val([[${month_from}]]);
                $('#dtTo').val([[${dt_today}]]);
            });

//            등록
/*            $('#btnRegister').click(function () {
                window.location.href = '/accept/order/new';
            });*/

//            수정

//            검색
            $('#btnSearch').click(function () {
                fnSearch();
            });

//            $('#grid').jsGrid('refresh');
        }

        $(function() {

            $('#jsGrid').jsGrid({
//                sorting: true,
                width: '100%',

//                height: '90%',
                height: 'auto',

                paging: true,
                pageSize: [[${@environment.getProperty('js-grid.pageSize')}]],
//                pagerFormat: 'Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}',
                pagerFormat: '{prev} {pages} {next}',
                pagePrevText: 'Prev',
                pageNextText: 'Next',

                rowClick: function(args) {
//                    debugger;
//                    console.log('itemIndex = '+ args.itemIndex)
                    showDetailsDialog('Edit', args.item);
                },

//                data: db.clients,
                autoload: true,
                controller: db,

                rowRenderer: function(item, itemIndex) {
                    /*var user = item.user;
                    var $photo = $("<div>").addClass("client-photo").append($("<img>").attr("src", user.picture.medium));
                    var $info = $("<div>").addClass("client-info")
                            .append($("<p>").append($("<strong>").text(user.name.first.capitalize() + " " + user.name.last.capitalize())))
                            .append($("<p>").text("Location: " + user.location.city.capitalize() + ", " + user.location.street))
                            .append($("<p>").text("Email: " + user.email))
                            .append($("<p>").text("Phone: " + user.phone))
                            .append($("<p>").text("Cell: " + user.cell));

                    return $("<tr>").append($("<td>").append($photo).append($info));*/

                    var vTr = $('<tr>')
                            .append($('<td>').text(item.REGI_DT ? item.REGI_DT : '').addClass('jsgrid-align-center').css('width', '120px'))
                            .append($('<td>').text(item.OR_CD3 ? item.OR_CD3 : '').addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(item.BN_NM ? item.BN_NM : '').addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(item.MB_NIC_NM ? item.MB_NIC_NM : '').addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(item.MB_TEL ? item.MB_TEL : '').addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(item.EP_CD ? item.EP_CD : '').addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(item.DELI_EP ? item.DELI_EP : '').addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(formatNumber(item.TOT_PRICE)).addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(item.IT_CNT ? item.IT_CNT : '0').addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(item.IT_STATUS ? item.IT_STATUS : '').addClass('jsgrid-align-center').css('width', '100px'))
                            .append($('<td>').text(item.OR_MEMO ? item.OR_MEMO : '').addClass('jsgrid-align-center').css('width', '100px'));

                    /*
                     1.금일기준으로 주문 상태가 주문접수/수거 중일 때 수거요청일시가 지난 주문은 붉은색으로 표시된다.
                     2.금일기준으로 주문 상태가 배송 완료가 아닐 때 배송예정일시가 지난 주문은 붉은색으로 표시된다.
                     */
                    if(item.red1) {
                        vTr.addClass('red');
                    } if(item.red2) {
                        vTr.addClass('red');
                    }

                    return vTr;
                },

                fields: [
                    { name: 'REGI_DT', title: '주문일시', type: 'text', align: 'center', width : '120'},
                    { name: 'OR_CD3', title: '주문번호', type: 'text', align: 'center'},
                    { name: 'BN_NM', title: '지점', type: 'text', align: 'center'},
                    { name: 'MB_NIC_NM', title: '닉네임', type: 'text', align: 'center'},
                    { name: 'MB_TEL', title: '고객 전화번호', type: 'text', align: 'center'},
                    { name: 'EP_CD', title: '수거크린매니저', type: 'text', align: 'center'},
                    { name: 'DELI_EP', title: '배송크린매니저', type: 'text', align: 'center'},
                    { name: "TOT_PRICE", title: '접수금액', type: "number", align: 'center', //width: 40,
                        itemTemplate: function(value) {
                            return formatNumber(value); }
                    },

                    { name: 'IT_CNT', title: '접수수량', type: 'text', align: 'center'},
                    { name: 'IT_STATUS', title: '주문상태', type: 'text', align: 'center'},
                    { name: 'OR_MEMO', title: '주문비고', type: 'text', align: 'center'}
                ]
            });

            var showDetailsDialog = function(dialogType, client) {
                window.location.href = '/accept/order/view6/'+ client.orCd;
            };

//            var selectedItems = [];

            var selectItem = function(item) {
//                push 전에 중복여부 확인 필요
                if($.inArray( item, selectedItems ) != -1) {
//                    console.log('중복됨 : '+ $.inArray( item, selectedItems ));
                } else {
//                    console.log('추가됨');
                    selectedItems.push(item);
                }

            };

            var unselectItem = function(item) {
                selectedItems = $.grep(selectedItems, function(i) {
                    return i !== item;
                });
            };

            var deleteSelectedItems = function() {
                if(!selectedItems.length || !confirm("Are you sure?"))
                    return;

                var $grid = $("#jsGrid");

                $.each(selectedItems, function(_, item) {
                    $grid.jsGrid("deleteItem", item);
                });

                selectedItems = [];
            };

            //            검수완료
            $('#btnChangeSt').click(function () {
                fnChangeSt();
            });

            var fnChangeSt = function() {
                if(!selectedItems.length) {
                    alert('검수완료 처리할 데이터를 선택해 주세요!')
                    return;
                }

                if(!confirm(selectedItems.length +'건의 데이터를 검수완료 처리 하시겠습니까?')) {
                    return;
                }

                ids = [];

                $.each(selectedItems, function(_, item) {
                    console.log(''+ item.ID);
                    ids.push(item.ID);
                });

                $.ajax({
                    type : "POST",
                    cache : false,
                    url : '/order/changeSt',
                    data : { items: ids },
                    traditional: true,
                    success : function(data, status) {
                        alert('검수완료 처리 하였습니다!');
                        fnSearch();
                    },
                    error : function(data, status) {
                        alert('검수완료 처리중 에러가 발생하였습니다.');
//                        console.log('실패 '+ data);
                    }
                });

            };
        });

/*    function fnChangeSt() {
        if(!selectedItems.length) {
            alert('검수완료 처리할 데이터를 선택해 주세요!')
            return;
        }

        if(!confirm(selectedItems.length +'건의 데이터를 검수완료 처리 하시겠습니까?')) {
            return;
        }
    }*/

        (function() {

            var db = {

                loadData: function(filter) {
                    var d = $.Deferred();

//                    초기 검색조건 : 주문상태 콤보
                    filter.status = $('#cmbStatus').val();
                    filter.bncd = $('#cmbBnCd').val();

                    $.ajax({
                        url: '/orderlist/list3',
                        dataType: 'json',
                        data: filter
                    }).done(function(response) {
//                        d.resolve(response.content);
                        d.resolve(response);
                    });

                    return d.promise();
                }

            };

            window.db = db;
        }());

        function fnSearch() {
            var vBnCd = $('#cmbBnCd').val();
            var vFrom = $('#dtFrom').val();
            var vTo = $('#dtTo').val();
            var vKeyword = $('#txtKeyword').val();
//            var vBnCd = $('#cmbBnCd').val();
            var vCondition = $('#cmbCondition').val();
            var vStatus = $('#cmbStatus').val();
//alert(vStatus);
            $('#jsGrid').jsGrid('search', { bncd: vBnCd, from: vFrom, to: vTo, keyword: vKeyword, condition: vCondition, status: vStatus });

            selectedItems = [];
            $('#checkAll').prop("checked", false);
        }
    /*]]>*/
    </script>
</head>
<body>

<div class="center" layout:fragment="content">

    <!--<h1 th:text="${@environment.getProperty('spring.application.name')}">header</h1>
    <h1 th:text="${@environment.getProperty('js-grid.pageSize')}">header</h1>-->

    <div class="search_area">
        <h2 class="page_title">
            주문전체 현황
            <a class="yell_btn" id="btnExcel">엑셀</a>
            <!--<a class="yell_btn" id="btnRegister">주문작성</a>
            <a class="yell_btn" id="btnChangeSt">검수완료</a>-->
            <a class="yell_btn" id="btnSearch">조회</a>
        </h2>
        <div class="search_input">
            <label class="front">지점</label>
            <select class="front" id="cmbBnCd">
                <option value="" th:if="${#arrays.length(branch_cds)} &gt; 1">전체</option>
                <option th:each="cd : ${branch_cds}"
                        th:value="${cd[0]}"
                        th:text="${cd[1]}">text</option>
            </select>

            <label>주문기간</label>
            <input type="text" class="term" id="dtFrom" /> - <input type="text" class="term" id="dtTo" />
            <a class="week_b" id="btnWeek">주</a>
            <a class="month_b" id="btnMonth">월</a>

            <select id="cmbCondition">
                <option value="MB_TEL">전화번호</option>
                <option value="MB_NIC_NM">닉네임</option>
                <option value="MB_ADDR1">주소</option>
                <option value="IT_TAC">택번호</option>
            </select>
            <input type="text" class="default" id="txtKeyword" />

            <label>주문상태</label>
            <select class="front" id="cmbStatus">
                <option value="">전체</option>
                <option th:each="cd : ${cmb_status}"
                        th:value="${cd.cdGp} +''+ ${cd.cdIt}"
                        th:text="${cd.cdNm}">text</option>
                <!--th:selected="${cd.cdIt == '01'}"-->
            </select>
        </div>
    </div>

    <div id="jsGrid" class="table_area"></div>
</div>

</body>
</html>