<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/commonLayout">
<head>
    <title>개발중입니다</title>
    <!--<link href="page-style.css" rel="stylesheet" />-->

    <script>
        $(document).ready(function(){
            init();
        });

        function init() {
            $('#btnSave').click(function () {
                $('#regfrm').submit();
            });
        }
    </script>
</head>
<body>

<div class="center" layout:fragment="content">
    <img src="/img/example/UnderConstruction.jpg" alt="공사중" />
</div>

</body>
</html>