<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/commonLayout">
<head>
    <title>지점정보</title>
    <!--<link href="page-style.css" rel="stylesheet" />-->

    <link href="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.standalone.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/bootstrap-datepicker-1.5.0/bootstrap-datepicker.ko.min.js"></script>

    <link href="/fancyapps-fancyBox-2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/fancyapps-fancyBox-2.1.5/jquery.fancybox.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid.min.css"
          th:href="@{/webjars//js-grid/1.2.0/dist/jsgrid.min.css}"
          rel="stylesheet" media="screen" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid-theme.min.css"
          th:href="@{/webjars/js-grid/1.2.0/dist/jsgrid-theme.min.css}"
          rel="stylesheet" media="screen" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.2.0/jsgrid.min.js"
            th:src="@{/webjars/js-grid/1.2.0/dist/jsgrid.min.js}"></script>

    <style>
        .pop_input_area .col {position: relative;}
        div.error { position: absolute; top: 15px; background-color: transparent; left: 40px;width: 290px;}
        .add_data_area .col .message .error {background-color: transparent; color: #ff0000; left: 180px;}
    </style>

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

        $(document).ready(function(){
            init();
//            test();
            fnNew();
        });

        function test() {
            $('#bnNm').val('지점명 1');
            $('#bnCeo').val('지점장 1');
            $('#bnTel').val('02-1234-5678');
            $('#bnFax').val('02-3456-7890');
            $('#bnPer').val('56');
            $('#bnBarCd').val('7');
        }

        function init() {
            $('#btnDelete2').click(function () {
                var vNo = $('#regfrm2 #id').val();

                if(!vNo) {
                    alert('삭제할 대상을 선택해 주세요!');
                    return false;
                }

                if(!confirm("삭제 하시겠습니까?")) return false;

                $.ajax({
                    type : "POST",
                    cache : false,
                    url : '/branchlocs/delete-branchlocs',
                    data : {no: vNo},
                    //mimeType: 'multipart/form-data',
                    success : function(data, status) {
                        alert("삭제 하였습니다!");
                        fnSearch2();
                    },
                    error : function(data, status) {
                        alert('삭제중 에러가 발생하였습니다.');
                    }
                });

            });

            //            하단 저장
            $('#btnSave2').click(function () {
                if($('#regfrm > #mode').val() == 'new') {
                    alert('지점정보를 먼저 저장해 주세요!');
                    return false;
                }

                var vBlNm = $('#loc3 option:selected').text();
                $('#blNm').val(vBlNm);

                $('#regfrm2').submit();
            });

//            상위지역코드
            $('#loc1').change(function() {
                var vLoc1 = $(this).val();
                $('#loc2').load('/etc/LocationCombo2', {loc1: vLoc1, loc2: '00', loc3: '00'}, function() {
//                    alert( "pdLvl2 Load was performed." );
//                    상세처리
                    var thisLoc = $('#loc2').data('loc');

                    if(thisLoc) {
                        $('#loc2').val(thisLoc);
                        $('#loc2').trigger( 'change' );
                    }
                });
            });

//            중위지역코드
            $('#loc2').change(function() {
                var vLoc1 = $('#loc1').val();
                var vLoc2 = $(this).val();
                $('#loc3').load('/etc/LocationCombo3', {loc1: vLoc1, loc2: vLoc2, loc3: '00'}, function() {
//                    alert( "pdLvl2 Load was performed." );
//                    상세처리
                    var thisLoc = $('#loc3').data('loc');

                    if(thisLoc) {
                        $('#loc3').val(thisLoc);
//                        $('#loc3').trigger( 'change' );
                    }
                });
            });

            $('#btnSave').click(function () {
                $('#regfrm').submit();
            });

//            담당지역 리스트 신규
            $('#btnAdd').click(function () {
                if($('#regfrm > #mode').val() == 'new') {
                    alert('지점정보를 먼저 저장해 주세요!');
                    return false;
                }

                fnNew();
            });

            $('#btnDelete').click(function () {
//                alert( 'id '+ $('#id').val() +' 삭제!' );

                if(!confirm("삭제 하시겠습니까?")) return false;

                $.fancybox.showLoading();

                var vNo = $('#bnCd').val();

                $.ajax({
                    type : "POST",
                    cache : false,
                    url : '/branch/delete-branch',
                    data : {no: vNo},
                    //mimeType: 'multipart/form-data',
                    success : function(data, status) {
                        alert("삭제 하였습니다!");
                        window.location.href = '/manage/branch/list';
                       /* $.fancybox.hideLoading();
                        parent.jQuery.fancybox.close();*/
                    },
                    error : function(data, status) {
                        alert('삭제중 에러가 발생하였습니다.');
//                        console.log('실패 '+ data);
                        $.fancybox.hideLoading();
                    }
                });

            });
        }

        $(function(){
            $("#regfrm").validate({
                submitHandler: function() {
                    var f = confirm("저장 하시겠습니까?");
                    if(f){
                        return true;
                    } else {
                        return false;
                    }
                },

                rules: {
                    'bnNm' : {
                        required : true
                    },
                    'bnCeo' : {
                        required : true,
                    },
                    'bnTel' : {
                        required : true,
                    },
                    'bnFax' : {
                        required : true
                    },
                    'bnPer' : {
                        required : true,
                        number : true,
                        range: [0, 100]
                    },
                    'bnBarCd' : {
                        required : true,
                        number : true
                    }
                },

                messages : {
                    'bnNm' : {
                        required : "지점명을 입력해 주세요."
                    },
                    'bnCeo' : {
                        required : "지점장을 입력해 주세요."
                    },
                    'bnTel' : {
                        required : "전화번호를 입력해 주세요."
                    },
                    'bnFax' : {
                        required : "팩스번호을 입력해 주세요."
                    },
                    'bnPer' : {
                        required : "정산비율을 입력해 주세요.",
                        number : "정산비율은 숫자만 입력해 주세요.",
                        range : "정산비율은 {0}과 {1}사이의 숫자로 입력해 주세요."
                    },
                    'bnBarCd' : {
                        required : "바코드 시작번호를 입력해 주세요.",
                        number : "바코드 시작번호는 숫자만 입력해 주세요."
                    }
                },

                /*groups: {
                 'code': 'cdGp cdIt'
                 },*/

                /* http://jqueryvalidation.org/validate/ */
                errorElement: "div",
                wrapper: "div",  // a wrapper around the error message
                errorPlacement: function(error, element) {
                    error.addClass('message');  // add a class to the wrapper

                    /*if (element.attr('name') == 'mgDt') {
                     error.insertAfter('.input-group.date');
                     } else {*/
                    error.insertAfter(element);
//                        }
                }
            });

//        신규일때만 중복체크
            if($('#regfrm > #mode').val() == 'new') {

                $.each( $( '#pdLvl1, #pdLvl2, #pdLvl3' ), function() {
//                    alert($(this).attr('id'));
                    $(this).rules('add', {
                        remote: {
                            url: "/branch/check-code",
                            type: "get",
                            data: {
                                pdLvl1: function() {
                                    return $( '#pdLvl1' ).val();
                                },
                                pdLvl2: function() {
                                    return $( '#pdLvl2' ).val();
                                },
                                pdLvl3: function() {
                                    return $( '#pdLvl3' ).val();
                                }
                            }
                        },
                        messages: {
                            remote : '이미 존재하는 상위/중위/하위코드 조합입니다!'
                        }
                    });
                });

            }

        });

        $(function () {
            $("#regfrm2").validate({
                submitHandler: function () {
                    if (!confirm("저장 하시겠습니까?")) return false;

                    $.ajax({
                        type: "POST",
                        url: '/branch/saveLocation',
                        cache: false,
                        data: $('#regfrm2').serialize(),
                        success: function (data, status) {
                            alert("저장 하였습니다!");
                            fnSearch2();
                        },
                        error: function (data, status) {
                            alert('저장중 에러가 발생하였습니다.');
                        }
                    });

                    return false;
                },

                rules: {
                    'loc1': {
                        required: true
                    },
                    'loc2': {
                        required: true
                    },
                    'loc3': {
                        required: true
                    },
                    'blMemo': {
                        maxlength: 200
                    }
                },

                messages: {
                    'loc1': {
                        required: '상위지역코드를 선택해 주세요.'
                    },
                    'loc2': {
                        required: '중위지역코드를 선택해 주세요.'
                    },
                    'loc3': {
                        required: '하위지역코드를 선택해 주세요.'
                    },
                    'saMemo': {
                        maxlength: "비고는 {0}자 이하로 입력해 주세요."
                    }
                },

                errorElement: "div",
                wrapper: "div",  // a wrapper around the error message
                errorPlacement: function (error, element) {
                    error.addClass('message');  // add a class to the wrapper
                    error.insertAfter(element);
                }
            });
        });

        $(function () {
            $('#jsGrid').jsGrid({
                width: '100%',
                height: 'auto',
                paging: true,
                pageSize: 5,
                pagerFormat: '{prev} {pages} {next}',
                pagePrevText: 'Prev',
                pageNextText: 'Next',

                rowClick: function(args) {
                    showDetailsDialog('Edit', args.item);
                },

                autoload: true,
                controller: db,

                fields: [
                    { name: 'loc1', title: '상위지역코드', type: 'select', items: db.loc1s, valueField: "Id", textField: "Name", align: 'center'},
                    { name: 'loc2_cd', title: '중위지역코드', type: 'select', items: db.loc2s, valueField: "Id", textField: "Name", align: 'center'},
//                    { name: 'loc2', title: '중위지역코드', type: 'text', align: 'center'},
                    { name: 'blNm', title: '하위지역코드', type: 'text', align: 'center'},
                    { name: 'blMemo', title: '비고', type: 'text', align: 'center'}
                ]
            });

            var showDetailsDialog = function(dialogType, client) {
                $('#regfrm2 #id').val(client.id);
                $('#regfrm2 #orCd').val(client.orCd);
                $('#regfrm2 #mode').val('edit');
                $('#regfrm2 #regiDt').val(client.regiDt);
                $('#regfrm2 #user').val(client.user);

                $('#regfrm2 #blMemo').val(client.blMemo);

//                품목 콤보 Ajax 처리를 위하여 data 설정및 trigger 처리
                $('#regfrm2 #loc1').val(client.loc1);
                $('#regfrm2 #loc2').data('loc', client.loc2);
                $('#regfrm2 #loc3').data('loc', client.loc3);

                $( '#loc1' ).trigger( 'change' );
            };
        });

        (function() {
            var db = {
                loadData: function(filter) {
                    var d = $.Deferred();
                    filter.bnCd = $('#regfrm #bnCd').val();

                    $.ajax({
                        url: '/branchlocs/list',
                        dataType: 'json',
                        data: filter
                    }).done(function(response) {
                        d.resolve(response.content);
                    });

                    return d.promise();
                }
            };

            window.db = db;

            db.loc1s = [];
            var vLoc1s = [[${cmb_plcd1}]];

            if(vLoc1s) {
                for(var i = 0; i < vLoc1s.length ; i++) {
//                console.log(i +' = '+ vLoc1s[i].loc1 +' , '+ vLoc1s[i].name);
                    db.loc1s.push({Id: vLoc1s[i].loc1, Name: vLoc1s[i].name});
                }
            }

            db.loc2s = [];
            var vLoc2s = [[${cmb_plcd2}]];

            for(var i = 0; i < vLoc2s.length ; i++) {
//                console.log(i +' = '+ vLoc2s[i].loc1 +' , '+ vLoc2s[i].name);
                db.loc2s.push({Id: vLoc2s[i].loc1 + vLoc2s[i].loc2, Name: vLoc2s[i].name});
            }
        }());

        //        담당지역 정보 신규 처리
        function fnNew() {
            $('#regfrm2 #id').val(null);
            $('#regfrm2 #bnCd').val($('#regfrm #bnCd').val());
            $('#regfrm2 #mode').val('new');
            $('#regfrm2 #regiDt').val(null);
            $('#regfrm2 #user').val(null);
            $('#regfrm2 #loc1').val(null);
            $('#regfrm2 #loc2').val(null);
            $('#regfrm2 #loc3').val(null);
            $('#regfrm2 #blMemo').val(null);

            $('#regfrm2 #loc2').data('loc', null);
            $('#regfrm2 #loc3').data('loc', null);
        }

        //        담당지역 리스트 그리드 검색
        function fnSearch2() {
            $('#jsGrid').jsGrid('search');
            fnNew();
        }

    /*]]>*/
    </script>
</head>
<body>

<div layout:fragment="content">

    <form th:object="${branch}" th:action="@{/manage/branch/saveBranch}" method="post" id="regfrm" name="regfrm">

        <input type="hidden" th:field="*{bnCd}"/>
        <input type="hidden" th:field="*{delYn}"/>
        <input type="hidden" th:field="*{evtNm}"/>
        <input type="hidden" th:field="*{regiDt}"/>
        <input type="hidden" th:field="*{user}"/>
        <input type="hidden" th:field="*{mode}"/>

        <div class="search_area">
            <h2 class="page_title">
                지점정보
                <a class="yell_btn" href="/manage/branch/list">닫기</a>
                <a class="yell_btn" id="btnDelete" th:if="${branch.mode != 'new'}">삭제</a>
                <a class="yell_btn" id="btnSave">저장</a>
            </h2>
            <div class="input_area">
                <div class="col harf">
                    <label>지점명</label>
                    <input type="text" class="popup_input" maxlength="50" th:field="*{bnNm}" />
                </div>
                <div class="col harf">
                    <label>지점장</label>
                    <input type="text" class="popup_input" maxlength="20" th:field="*{bnCeo}" />
                </div>
                <div class="col harf">
                    <label>전화번호</label>
                    <input type="text" class="popup_input" maxlength="20" th:field="*{bnTel}" />
                </div>
                <div class="col harf">
                    <label>팩스번호</label>
                    <input type="text" class="popup_input" maxlength="20" th:field="*{bnFax}" />
                </div>
                <div class="col harf">
                    <label>정산비율</label>
                    <input type="text" class="popup_input" maxlength="3" th:field="*{bnPer}" />
                </div>
                <div class="col harf">
                    <label>바코드 시작번호</label>
                    <input type="text" class="popup_input" maxlength="12" th:field="*{bnBarCd}" />
                </div>
                <div class="col">
                    <label>거래공장</label>
                    <select th:field="*{ptCd}">
                        <option th:each="cd : ${partner_cds}"
                                th:value="${cd[0]}"
                                th:text="${cd[1]}">text</option>
                    </select>
                </div>
            </div>
        </div>

    </form>

    <div class="table_area harf">
        <h2 class="page_title">
            담당지역 리스트
            <a class="add_brn" id="btnAdd"><img src="/img/add_icon.png" alt="" /></a>
        </h2>
        <div id="jsGrid" class="table_area"></div>
    </div>

    <div class="add_data">
        <h2 class="page_title">
            담당지역 정보
            <a class="yell_btn" id="btnDelete2">삭제</a>
            <a class="yell_btn" id="btnSave2">저장</a>
        </h2>

        <form th:object="${location}" th:action="@{/branch/saveLocation}" method="post" id="regfrm2" name="regfrm2">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{bnCd}"/>
            <input type="hidden" th:field="*{blNm}"/>
            <input type="hidden" th:field="*{delYn}"/>
            <input type="hidden" th:field="*{evtNm}"/>
            <input type="hidden" th:field="*{regiDt}"/>
            <input type="hidden" th:field="*{user}"/>
            <input type="hidden" th:field="*{mode}"/>
        <div class="add_data_area">
            <div class="col">
                <label>상위지역코드</label>
                <select th:field="*{loc1}">
                    <option value="">선택해주세요</option>
                    <option th:each="item : ${cmb_plcd1}" th:value="${item.loc1}" th:text="${item.name}">My item</option>
                </select>
            </div>
            <div class="col">
                <label>중위지역코드</label>
                <select th:field="*{loc2}">
                    <option value="">선택해주세요</option>
                </select>
            </div>
            <div class="col">
                <label>하위지역코드</label>
                <select th:field="*{loc3}">
                    <option value="">선택해주세요</option>
                </select>
            </div>
            <div class="col">
                <label class="long">비고</label>
                <textarea class="popup_input" th:field="*{blMemo}"></textarea>
            </div>
        </div>
</form>

    </div>

</div>

</body>
</html>